.form{
    width: 60%;
    margin: 0 auto;
    border: 1px solid #797878;
}
label{
    font-size: 20px;
}
.firstname{
    padding: 6px;
    width: 90%;
    font-size: 20px;
    margin-bottom: 10px;
    
}
.mt{
    margin-top: 10px;
}